body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: blanchedalmond;
}

#main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

#canvas {
    height: 500px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 2px black solid;
    background-color: white;
}

#buttons, #slider-container {
    display: flex;
    align-items: center;
}

#buttons {
    gap: 16px;
}

#slider-container {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}
.line {
    justify-content: center;
    display: flex;
    flex-grow: 1;
}

.cell {
    flex-grow: 1;
}